body{
  width:100%;
  height:auto;
  margin:0 auto;
  @include font-family('arial',1,14px, $black);
}

h1,h3,h4,h5,h6,p{
  margin-bottom:10px;

}

h1,h2,h3,h4,h5,h6,p,li,a,span,strong,i{

  &::selection {
    color: black;
    background: blue;
  }

  &::-moz-selection {
    color: black;
    background: blue;
  }
}
ul{
  list-style: none;
  padding: 0;
}

a{
  text-decoration: none;
  color: $black;
}

b, strong{
 font-weight: bold;
}

u{
 text-decoration: underline;
}

i{
 font-style: italic;
}

$icons: "icons";
@include fontFace($icons, "icons");

